@{
    @model MyOwnSummary_WEB.Models.DataForCreateNote
}
<form method="post" action="@Url.Action("Create", "Note")">
    <div class="mb-3">
        <label for="sourceText" class="form-label">Source Text</label>
        <input type="text" class="form-control" id="sourceText" name="SourceText" value="">
    </div>
    <div class="mb-3">
        <label for="description" class="form-label">Description</label>
        <textarea class="form-control" id="description" name="Description" rows="3"></textarea>
    </div>
    <div class="mb-3">
        <label for="translate" class="form-label">Translate</label>
        <input type="text" class="form-control" id="translate" name="Translate" value="">
    </div>
    <div class="mb-3">
        <label for="pronunciation" class="form-label">Pronunciation</label>
        <input type="text" class="form-control" id="pronunciation" name="Pronunciation" value="">
    </div>
    <div class="mb-3">
        <label for="categories" class="form-label">Categories</label>
        <select class="form-select" aria-label="Default select example" id="categories" name="Category">
            <option value="0"selected>Open this select menu</option>
            @{
                foreach (var item in Model.Categories)
                {
                    <option value="@item.Id">@item.Name</option>
                }
            }
            
        </select>
    </div>
    <div class="mb-3">
        <label for="languages" class="form-label">Languages</label>
        <select class="form-select" aria-label="Default select example" id="languages" name="Language">
            <option value="0"selected>Open this select menu</option>
            @{
                foreach (var item in Model.Languages)
                {
                    <option value="@item.Id">@item.Name</option>
                }
            }
        </select>
    </div>
    <input type="text" class="form-control" id="user" name="User" value="@Model.UserId" style="display:none">
    <div class="mb-3">
        <button type="submit" class="btn btn-primary">Submit</button>
    </div>
</form>
